@import "scss/reset";


@font-face {
font-family: 'helv_n_100';
font-style: normal;
font-weight: normal;
src: local('Helvetica 35 Thin'), url('fonts/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
font-family: 'helv_n_300';
font-style: normal;
font-weight: normal;
src: local('Helvetica 43 Light Extended'), url('fonts/HelveticaNeue-LightExt.woff') format('woff');
}

@font-face {
font-family: 'helv_n_400';
font-style: normal;
font-weight: normal;
src: local('Helvetica 55 Roman'), url('fonts/HelveticaNeue-Roman.woff') format('woff');
}


@font-face {
font-family: 'helv_n_500';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Medium'), url('fonts/HelveticaNeueMedium.woff') format('woff');
}

/* @font-face {
font-family: 'helv_n_700';
font-style: normal;
font-weight: normal;
src: local('Helvetica 85 Heavy'), url('fonts/HelveticaNeue-Heavy.woff') format('woff');
} */

@font-face {
    font-family: 'helv_n_700';
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'),
        url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
font-family: 'helv_n_800';
font-style: normal;
font-weight: normal;
src: local('Helvetica 85 Heavy'), url('fonts/HelveticaNeue-Heavy.woff') format('woff');
}

@font-face {
font-family: 'helv_n_900';
font-style: normal;
font-weight: normal;
src: local('Helvetica 95 Black'), url('fonts/HelveticaNeue-Black.woff') format('woff');
}






*,*:before, *:after{
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.clearfix:after, .container:after{
    content: '';
    display: block;
    clear:both;
}
body{
    font-family: 'helv_n_400', 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f2f3f7;
    @media screen and (min-width:768px) {
        
    }
    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
}
img{
    max-width: 100%;
    height: auto !important;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-family: 'helv_n_700';
    line-height: 1.6;
    margin-bottom: 8px;

    @media screen and (min-width:768px) {
        line-height: 2;
        margin-bottom: 2px;
    }
    @media screen and (min-width:1200px) {
        line-height: 1.25;
        margin-bottom: 6px;
    }
}
h1,.h1{
    font-size: 20px;
    @media screen and (min-width:1200px) {
        font-size: 32px;
    }
}
a{
    text-decoration: none;
    color: #2b5cad;
}
strong{
    font-family: 'helv_n_700';
}

table{
    width: 100%;
    border: 1px solid rgba(151,151,151,0.50);
    background-color: #fff;
    border-radius: 2px;
    td,th{
        padding: 10px 10px;
        border: 1px solid rgba(151,151,151,0.50);
        vertical-align: middle;
        @media screen and (min-width:1200px) {
            padding: 11px 15px;
        }
    }
    th{
        background-color: #687C93;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;

        @media screen and (min-width:768px) {
            font-size: 14px;
        }
        @media screen and (min-width:1200px) {
            font-size: 18px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    tr{
        &:nth-child(odd){
            td{
                background-color: #f7f9fc;
            }
        }
    }
}

.container{
    width: 100%;
    max-width: 1245px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.btn{
    cursor: pointer;
    background-color: #89949e;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 8px 25px;
    border:none;
    font-family: 'helv_n_500';
    min-width: 136px;

    @media screen and (min-width:1200px){
        min-width: 150px;
    }

    &.btn-primary{
        background-color: #2B5CA0;
    }
    
}

.hide{
    display: none;
}
.show{
    display: block;
}
.mobile{
    @media screen and (min-width:768px){
        display: none;
    }
}
.tablet{
    display: none;
    @media screen and (min-width:768px){
        display: block;
    }
}
.desktop{
    display: none;
    @media screen and (min-width:1200px){
        display: block;
    }
}


/* ========= Site header ======== */
.header{
    text-align: center;
    .logo{
        padding: 16px 0 24px;
        @media screen and (min-width:768px){
            padding: 24px 0 34px;
        }
        @media screen and (min-width:1200px){
            padding: 27px 0 37px;
        }

        img{
            width: 120px;

            @media screen and (min-width:1200px){
                width: 170px;
            }
        }
    } // .logo
} // .header
/* ========= /Site header ======== */


.page_body{
    &.v1{
        .container{
            max-width: 950px;
        }
    }
}
/* ========= page body top [the blue section] ======== */
.plan_sec_top{
    background: #364B69;
    color: #fff;
    text-align: center;
    padding: 16px 0 30px;
    
    @media screen and (min-width:1200px){
        padding: 20px 0 46px;
    }

    p{
        @media screen and (min-width:768px){
            line-height: 2;
        }
        @media screen and (min-width:1200px){
            font-size: 18px;
            line-height: 1.6;
        }
    }
} // .plan_sec_top

.tab_header{
    
    @media screen and (min-width:768px){
        margin-bottom: 16px;
    }
    
    @media screen and (max-width:767px){
        .sticky{
            background: #364B69;
            padding:1px 0;
            padding:0.1px 0;
            position: relative;
            -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
            
            &.stuck{
                position:fixed;
                top:0;
                left: 0;
                width:100%;
                opacity: 1;
                &.fade{
                    opacity: 0;
                }
            }
        }
    }

    

    .plan_lengths{
        text-align: center;
        margin-bottom: 28px;
        @media screen and (min-width:768px){
            margin-bottom: 22px;
        }
        @media screen and (min-width:1200px){
            margin-bottom: 17px;
        }
    }
    .plan_length{
        border-bottom:2px solid rgba(255, 255, 255, 0.3);
        display: inline-block;
        li{
            display: inline-block;
            border-bottom: 4px solid transparent;
            margin-bottom: -2px;
            text-transform: uppercase;
            font-family: 'helv_n_500';
            line-height: 40px;
            color: #fff;
            cursor: pointer;
            
            &+li{
                margin-left: 15px;

                @media screen and (min-width:1200px){
                    margin-left: 23px;
                }
            }
            &.active{
                border-bottom-color: #FBF857;
            }
        }
    }
}   // .tab_header

.user_package{
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    @media screen and (min-width:1200px){
        font-size: 20px;
    }
    .name{
        font-family: 'helv_n_700';
        margin-bottom: 5px;
    }
} // .user_package

/* plan type  */
.plan_types{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 8px;
    @media screen and (min-width:768px){
        margin-bottom: 4px;
    }
    @media screen and (min-width:1200px){
        margin-bottom: 6px;
    }
    ul{
        font-size: 0;
        border-radius: 40px;
        overflow: hidden;
        display: inline-block;
        li{
            display: inline-block;
            font-size: 12px;
            font-family: 'helv_n_700';
            background-color: #5F7088;
            color: #fff;
            padding: 13px 15px 12px;
            text-align: center;
            min-width: 134px;
            cursor: pointer;
            
            @media screen and (min-width:320px){
                min-width: 144px;
            }
            @media screen and (min-width:768px){
                font-size: 14px;
                padding: 11px 15px 12px;
                font-family: 'helv_n_500';
                min-width: 180px;
            }
            @media screen and (min-width:1200px){
                padding: 11px 15px 12px;
            }

            &.active{
                background-color: #6BA2E1;
            }
        }
    }
} // .plan_type

/* ========= /page body top [the blue section] ======== */

.plan_sec_bottom{
    margin-top: -30px;
    @media screen and (min-width:1200px){
        margin-top: -46px;
    }
}
.tab_body{
    @media screen and (min-width:768px){
        margin-bottom: 24px;
    }
    @media screen and (min-width:1200px){
        margin-bottom: 41px;
    }    
} // .tab_body

.price_table{
    a{text-decoration: underline;}
    .btn{text-decoration: none;}
    .btn[class*="subs_"]{display: none;}
    &.tablet{ // desktop and tablet part..
        @media screen and (min-width:768px){
            border-radius: 4px;
            overflow: hidden;
            -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);

            table{
                border:none;
                // background-color:rgba(255,255,255,0.3);
                td,th{
                    border:none;
                    border-left: 1px solid rgba(151,151,151,0.50);
                    text-align: center;
                    font-family: 'helv_n_500';
                    
                    &:first-child{
                        border-left:none;
                        text-align: left;
                        width: 32%;
                    }
                    .yes{
                        width:8px;
                        height:8px;
                        line-height: 8px;
                        display: inline-block;
                        background-color: #00954c;
                        border-radius: 50%;
                    }
                    .plan_price{
                        font-size: 20px;
                        font-family: 'helv_n_500';
                        @media screen and (min-width:1200px){
                            font-size: 30px;
                        }
                        sup{
                            font-size: 70%;
                            vertical-align: super;
                            margin-right: 3px;
                            @media screen and (min-width:1200px){
                                font-size: 50%;
                                margin-right: 1px;
                            }
                        }
                        .sell{
                            color: #2B5CA0;
                            line-height: 1.1;
                            @media screen and (min-width:1200px){
                                line-height: 1.2;
                                letter-spacing: -0.7px;
                            }
                        }
                        .save{
                            font-size: 12px;
                            color: #EB0101;
                            @media screen and (min-width:1200px){
                                font-size: 14px;
                                letter-spacing: 0.8px;
                            }
                        }
                    }
                }
                th{
                    line-height: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    @media screen and (min-width:1200px){
                        padding-top: 13px;
                        padding-bottom: 13px;
                    }
                }
                td{
                    font-size: 12px;
                    padding: 10px 15px;
                    height: 40px;
                    width: 22%;
                    @media screen and (min-width:1200px){
                        font-size: 14px;
                        padding: 10px 25px;
                        height: 60px;
                    }
                    &.plan_prices{
                        height: 72px;
                        @media screen and (min-width:1200px){
                            height: 80px;
                        }
                    }
                }
                .btn{
                    margin-top:6px;
                    margin-bottom:6px;
                    @media screen and (min-width:1200px){
                        margin-top:18px;
                        margin-bottom:18px;
                    }
                }
            } // table

        }
    } // desktop and tablet

    &.mobile{ // mobile part
        @media screen and (max-width:767px){
            .price_box{
                margin-bottom: 23px;
                border-radius: 4px;
                overflow: hidden;
                -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
                .title{
                    font-family: 'helv_n_500';
                    text-align: center;
                    background: rgba(104,124,147,0.90);
                    color: #fff;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 5px 16px;
                }
                .txt{
                    background-color: #fff;
                    color: #333;
                    font-family: 'helv_n_500';
                    padding-bottom: 8px;
                    &>div{
                        padding: 10px 16px;

                        &:nth-child(odd){
                            background: #F7F9FC;
                        }

                        &:first-child{
                            overflow: hidden;
                            font-family: 'helv_n_500';
                            min-height: 72px;
                            padding: 16px;
                            @supports (display: flex) {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack:justify;
                                -ms-flex-pack:justify;
                                justify-content:space-between;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                            }

                            
                            &>div{
                                float:left;
                                width:50%;
                                

                                .plan_price{
                                    text-align: right;
                                    font-size: 20px;
                                    padding-right: 8px;
                                }
                            }
                            sup{
                                font-size: 70%;
                                vertical-align: super;
                                margin-right: 3px;
                            }
                            .sell{
                                color: #2B5CA0;
                                line-height: 1.1;
                            }
                            .save{
                                font-size: 12px;
                                color: #EB0101;
                            }
                        } // price part

                        .des{
                            color: #aaa;
                            font-family: 'helv_n_300';
                            display: inline-block;
                        } // .des
                    }
                    .btn{
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }
            } // .price_box
        }
    } // mobile 
    
} // .price_table

.price_bottom-note{
    max-width: 534px;
    margin:0 auto 30px;
    color: #4a4a4a;
    font-family: "helv_n_500";
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    @media screen and (min-width:1200px){
        font-size: 16px;
        max-width: none;
    }
} // .price_bottom-note


/* ======== .footer ========= */

/* footer */
footer{
    padding:124px 0 30px;
    background:url('images/footer.png') no-repeat left top;	
    background-size: cover; 
    color:#fff;
    @media (max-width:992px){
        background-image:url('images/footer2.png');
    }
    @media (max-width:767px){
        padding:50px 0;
    }

    a{color:#fff;}
    .left{
        float: left;
        @media (max-width:767px){
            float: none; text-align:center;
        }
    }
    .right{
        float: right;
        @media (max-width:767px){
            float: none; text-align:center;
        }
    }
    .footer_menu{
        font-size: 16px; 
        @media (max-width:768px){
            font-size: 14px;
        }

        li{
            @media (max-width:1023px){
                margin-right:40px;
            }
            @media (max-width:768px){
                margin-right:20px;
            }

            margin-right:60px; margin-bottom:10px; list-style:none; display:inline-block;
            a{
                display:block;
            }
        }
    }
    

    .apps_area{
        margin-top:30px;
        @media (max-width:768px){
            margin-top:15px;
        }
        a{
            margin-right:5px; 
            display:inline-block;
            @media (max-width:767px){
                max-width: 47%;
            }
        }
        img{
            width:170px;
        } 
    }
    
    .copyright{
        font-size:16px;
        font-family: 'helv_n_100';
        float: right;
        @media (max-width:767px){
            margin-top:25px;
            float:none;
            font-size:14px;
        }
    }

    .social{
        margin-top:52px;
        @media (max-width:767px){
            margin-top:25px;
        }
        li{
            display:inline-block; 
            width:60px; 
            height:60px;
            border-radius: 50%; 
            margin-left:15px; 
            margin-bottom:10px; 
            background-repeat:no-repeat; 
            background-position:center center;
            background-size: cover;

            @media (max-width:767px){
                width:33px; height:33px; margin:0 3px;
            }
            
            &.fb{background-image:url('images/ico_facebook.svg'); }
            &.tw{background-image:url('images/ico_twitter.svg'); }
            &.ig{background-image:url('images/ico_instagram.svg'); }
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
} // end footer ..


/* back to top */
#back_top{
    display:block; 
    width:60px; 
    height:60px; 
    position:fixed; 
    right:20px; 
    bottom:20px; 
    border-radius: 50%; 
    background:url('images/btn_scroll_up.png') no-repeat center center; 
    background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
     #back_top {
          background-image: url('images/btn_scroll_up@2x.png') repeat;
     }
}
@media (max-width:992px){
	#back_top{display:block; width:30px; height:30px;}
}


.bottom h1 a img, .bottom h1 img{
	max-width: 10% !important;
}

@media (max-width:992px) and (min-width:321px) {
	.bottom h1 a img{
		max-width: 20% !important;
	}
}

@media (max-width: 320px) {
	.bottom h1 a img {
	  max-width: 30% !important;
	}
}
/* ======== /.footer ========= */


/* ===== tooltip 3rd party plugin override =======  */
.jk_tooltip{color: #2B5CA0; text-decoration: underline;}
.jk_tooltip-top{@extend .jk_tooltip; }
.tooltip_templates { display: none; color:#fff;}
.tooltipster-content{padding: 10px 20px !important; font-size: 12px; line-height: 1.5;}
.tooltipster-content ul{padding:0 0 0 12px; margin:0 0 10px; list-style: disc;}
.tooltipster-content li{padding-left: 10px; margin-bottom: 5px;}
.tooltipster-content p{margin-bottom: 10px;}
.tooltipster-content p:last-child, .tooltipster-content ul:last-child{margin-bottom: 0;}
.tooltipster-content a{ color: #fff; text-decoration: underline;}
.tooltipster-content{
    h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6{
        font-family: "helv_n_400";
    }
    h1,.h1{font-size:1.8em ;}
    h2,.h2{font-size:1.6em ;}
    h3,.h3{font-size:1.4em;}
    h4,.h4{font-size:1.2em;}
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#364B69;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#364B69;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#364B69;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#364B69;}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#364B69}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#364B69}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#364B69}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#364B69}

/* This is how you would create a custom secondary theme on top of tooltipster-noir: */

.tooltipster-sidetip .tooltipster-box {
	background: #364B69;
	border: 0;
	border-radius: 3px;
}