/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'helv_n_100';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 35 Thin"), url("fonts/HelveticaNeue-Thin.woff") format("woff");
}

@font-face {
  font-family: 'helv_n_300';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 43 Light Extended"), url("fonts/HelveticaNeue-LightExt.woff") format("woff");
}

@font-face {
  font-family: 'helv_n_400';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 55 Roman"), url("fonts/HelveticaNeue-Roman.woff") format("woff");
}

@font-face {
  font-family: 'helv_n_500';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Medium"), url("fonts/HelveticaNeueMedium.woff") format("woff");
}

/* @font-face {
font-family: 'helv_n_700';
font-style: normal;
font-weight: normal;
src: local('Helvetica 85 Heavy'), url('fonts/HelveticaNeue-Heavy.woff') format('woff');
} */
@font-face {
  font-family: 'helv_n_700';
  src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"), url("fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'helv_n_800';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 85 Heavy"), url("fonts/HelveticaNeue-Heavy.woff") format("woff");
}

@font-face {
  font-family: 'helv_n_900';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 95 Black"), url("fonts/HelveticaNeue-Black.woff") format("woff");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .container:after {
  content: '';
  display: block;
  clear: both;
}

body {
  font-family: 'helv_n_400', 'Arimo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  background-color: #f2f3f7;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'helv_n_700';
  line-height: 1.6;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 2;
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 1200px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.25;
    margin-bottom: 6px;
  }
}

h1, .h1 {
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  h1, .h1 {
    font-size: 32px;
  }
}

a {
  text-decoration: none;
  color: #2b5cad;
}

table {
  width: 100%;
  border: 1px solid rgba(151, 151, 151, 0.5);
  background-color: #fff;
  border-radius: 2px;
}

table td, table th {
  padding: 10px 10px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  table td, table th {
    padding: 11px 15px;
  }
}

table th {
  background-color: #687C93;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  table th {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  table th {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

table tr:nth-child(odd) td {
  background-color: #f7f9fc;
}

.container {
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: #89949e;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  border: none;
  font-family: 'helv_n_500';
  min-width: 136px;
}

@media screen and (min-width: 1200px) {
  .btn {
    min-width: 150px;
  }
}

.btn.btn-primary {
  background-color: #2B5CA0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .tablet {
    display: block;
  }
}

.desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .desktop {
    display: block;
  }
}

/* ========= Site header ======== */
.header {
  text-align: center;
}

.header .logo {
  padding: 16px 0 24px;
}

@media screen and (min-width: 768px) {
  .header .logo {
    padding: 24px 0 34px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    padding: 27px 0 37px;
  }
}

.header .logo img {
  width: 120px;
}

@media screen and (min-width: 1200px) {
  .header .logo img {
    width: 170px;
  }
}

/* ========= /Site header ======== */
.page_body.v1 .container {
  max-width: 950px;
}

/* ========= page body top [the blue section] ======== */
.plan_sec_top {
  background: #364B69;
  color: #fff;
  text-align: center;
  padding: 16px 0 30px;
}

@media screen and (min-width: 1200px) {
  .plan_sec_top {
    padding: 20px 0 46px;
  }
}

@media screen and (min-width: 768px) {
  .plan_sec_top p {
    line-height: 2;
  }
}

@media screen and (min-width: 1200px) {
  .plan_sec_top p {
    font-size: 18px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .tab_header {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .tab_header .sticky {
    background: #364B69;
    padding: 1px 0;
    padding: 0.1px 0;
    position: relative;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  .tab_header .sticky.stuck {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
  }
  .tab_header .sticky.stuck.fade {
    opacity: 0;
  }
}

.tab_header .plan_lengths {
  text-align: center;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .tab_header .plan_lengths {
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .tab_header .plan_lengths {
    margin-bottom: 17px;
  }
}

.tab_header .plan_length {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.tab_header .plan_length li {
  display: inline-block;
  border-bottom: 4px solid transparent;
  margin-bottom: -2px;
  text-transform: uppercase;
  font-family: 'helv_n_500';
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}

.tab_header .plan_length li + li {
  margin-left: 15px;
}

@media screen and (min-width: 1200px) {
  .tab_header .plan_length li + li {
    margin-left: 23px;
  }
}

.tab_header .plan_length li.active {
  border-bottom-color: #FBF857;
}

/* plan type  */
.plan_types {
  text-align: center;
  padding-top: 21px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .plan_types {
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .plan_types {
    margin-bottom: 6px;
  }
}

.plan_types ul {
  font-size: 0;
  border-radius: 40px;
  overflow: hidden;
  display: inline-block;
}

.plan_types ul li {
  display: inline-block;
  font-size: 12px;
  font-family: 'helv_n_700';
  background-color: #5F7088;
  color: #fff;
  padding: 13px 15px 12px;
  text-align: center;
  min-width: 134px;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .plan_types ul li {
    min-width: 144px;
  }
}

@media screen and (min-width: 768px) {
  .plan_types ul li {
    font-size: 14px;
    padding: 11px 15px 12px;
    font-family: 'helv_n_500';
    min-width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .plan_types ul li {
    padding: 11px 15px 12px;
  }
}

.plan_types ul li.active {
  background-color: #6BA2E1;
}

/* ========= /page body top [the blue section] ======== */
.plan_sec_bottom {
  margin-top: -30px;
}

@media screen and (min-width: 1200px) {
  .plan_sec_bottom {
    margin-top: -46px;
  }
}

@media screen and (min-width: 768px) {
  .tab_body {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .tab_body {
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet {
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .price_table.tablet table {
    border: none;
  }
  .price_table.tablet table td, .price_table.tablet table th {
    border: none;
    border-left: 1px solid rgba(151, 151, 151, 0.5);
    text-align: center;
    font-family: 'helv_n_500';
  }
  .price_table.tablet table td:first-child, .price_table.tablet table th:first-child {
    border-left: none;
    text-align: left;
  }
  .price_table.tablet table td .yes, .price_table.tablet table th .yes {
    width: 8px;
    height: 8px;
    line-height: 8px;
    display: inline-block;
    background-color: #00954c;
    border-radius: 50%;
  }
  .price_table.tablet table td .plan_price, .price_table.tablet table th .plan_price {
    font-size: 20px;
    font-family: 'helv_n_500';
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .price_table.tablet table td .plan_price, .price_table.tablet table th .plan_price {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet table td .plan_price sup, .price_table.tablet table th .plan_price sup {
    font-size: 70%;
    vertical-align: super;
    margin-right: 3px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .price_table.tablet table td .plan_price sup, .price_table.tablet table th .plan_price sup {
    font-size: 50%;
    margin-right: 1px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet table td .plan_price .sell, .price_table.tablet table th .plan_price .sell {
    color: #2B5CA0;
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .price_table.tablet table td .plan_price .sell, .price_table.tablet table th .plan_price .sell {
    line-height: 1.2;
    letter-spacing: -0.7px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet table td .plan_price .save, .price_table.tablet table th .plan_price .save {
    font-size: 12px;
    color: #EB0101;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .price_table.tablet table td .plan_price .save, .price_table.tablet table th .plan_price .save {
    font-size: 14px;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet table th {
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .price_table.tablet table th {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet table td {
    font-size: 12px;
    padding: 12px 16px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .price_table.tablet table td {
    font-size: 14px;
    padding: 20px 25px;
  }
}

@media screen and (min-width: 768px) {
  .price_table.tablet table .btn {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .price_table.mobile .price_box {
    margin-bottom: 23px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
  .price_table.mobile .price_box .title {
    font-family: 'helv_n_500';
    text-align: center;
    background: rgba(104, 124, 147, 0.9);
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 16px;
  }
  .price_table.mobile .price_box .txt {
    background-color: #fff;
    color: #333;
    font-family: 'helv_n_500';
    padding-bottom: 8px;
  }
  .price_table.mobile .price_box .txt > div {
    padding: 10px 16px;
  }
  .price_table.mobile .price_box .txt > div:nth-child(odd) {
    background: #F7F9FC;
  }
  .price_table.mobile .price_box .txt > div:first-child {
    overflow: hidden;
    font-family: 'helv_n_500';
    min-height: 72px;
    padding: 16px;
  }
  @supports (display: flex) {
    .price_table.mobile .price_box .txt > div:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  .price_table.mobile .price_box .txt > div:first-child > div {
    float: left;
    width: 50%;
  }
  .price_table.mobile .price_box .txt > div:first-child > div .plan_price {
    text-align: right;
    font-size: 20px;
    padding-right: 8px;
  }
  .price_table.mobile .price_box .txt > div:first-child sup {
    font-size: 70%;
    vertical-align: super;
    margin-right: 3px;
  }
  .price_table.mobile .price_box .txt > div:first-child .sell {
    color: #2B5CA0;
    line-height: 1.1;
  }
  .price_table.mobile .price_box .txt > div:first-child .save {
    font-size: 12px;
    color: #EB0101;
  }
  .price_table.mobile .price_box .txt .btn {
    margin-top: 6px;
  }
}

.price_bottom-note {
  max-width: 534px;
  margin: 0 auto 30px;
  color: #4a4a4a;
  font-family: "helv_n_500";
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 1200px) {
  .price_bottom-note {
    font-size: 16px;
    max-width: none;
  }
}

/* ======== .footer ========= */
/* footer */
footer {
  padding: 124px 0 30px;
  background: url("images/footer.png") no-repeat left top;
  background-size: cover;
  color: #fff;
}

@media (max-width: 992px) {
  footer {
    background-image: url("images/footer2.png");
  }
}

@media (max-width: 767px) {
  footer {
    padding: 50px 0;
  }
}

footer a {
  color: #fff;
}

footer .left {
  float: left;
}

@media (max-width: 767px) {
  footer .left {
    float: none;
    text-align: center;
  }
}

footer .right {
  float: right;
}

@media (max-width: 767px) {
  footer .right {
    float: none;
    text-align: center;
  }
}

footer .footer_menu {
  font-size: 16px;
}

@media (max-width: 768px) {
  footer .footer_menu {
    font-size: 14px;
  }
}

footer .footer_menu li {
  margin-right: 60px;
  margin-bottom: 10px;
  list-style: none;
  display: inline-block;
}

@media (max-width: 1023px) {
  footer .footer_menu li {
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  footer .footer_menu li {
    margin-right: 20px;
  }
}

footer .footer_menu li a {
  display: block;
}

footer .apps_area {
  margin-top: 30px;
}

@media (max-width: 768px) {
  footer .apps_area {
    margin-top: 15px;
  }
}

footer .apps_area a {
  margin-right: 5px;
  display: inline-block;
}

@media (max-width: 767px) {
  footer .apps_area a {
    max-width: 47%;
  }
}

footer .apps_area img {
  width: 170px;
}

footer .copyright {
  font-size: 16px;
  font-family: 'helv_n_100';
  float: right;
}

@media (max-width: 767px) {
  footer .copyright {
    margin-top: 25px;
    float: none;
    font-size: 14px;
  }
}

footer .social {
  margin-top: 52px;
}

@media (max-width: 767px) {
  footer .social {
    margin-top: 25px;
  }
}

footer .social li {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 767px) {
  footer .social li {
    width: 33px;
    height: 33px;
    margin: 0 3px;
  }
}

footer .social li.fb {
  background-image: url("images/ico_facebook.svg");
}

footer .social li.tw {
  background-image: url("images/ico_twitter.svg");
}

footer .social li.ig {
  background-image: url("images/ico_instagram.svg");
}

footer .social li a {
  display: block;
  width: 100%;
  height: 100%;
}

/* back to top */
#back_top {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: url("images/btn_scroll_up.png") no-repeat center center;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #back_top {
    background-image: url("images/btn_scroll_up@2x.png") repeat;
  }
}

@media (max-width: 992px) {
  #back_top {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.bottom h1 a img, .bottom h1 img {
  max-width: 10% !important;
}

@media (max-width: 992px) and (min-width: 321px) {
  .bottom h1 a img {
    max-width: 20% !important;
  }
}

@media (max-width: 320px) {
  .bottom h1 a img {
    max-width: 30% !important;
  }
}

/* ======== /.footer ========= */
/*# sourceMappingURL=style.css.map */