@import "scss/reset";


@font-face {
font-family: 'helv_n_100';
font-style: normal;
font-weight: normal;
src: local('Helvetica 35 Thin'), url('fonts/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
font-family: 'helv_n_300';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Light'), url('fonts/HelveticaNeueLight.woff') format('woff');
}

@font-face {
font-family: 'helv_n_400';
font-style: normal;
font-weight: normal;
src: local('Helvetica 55 Roman'), url('fonts/HelveticaNeue-Roman.woff') format('woff');
}


@font-face {
font-family: 'helv_n_500';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Medium'), url('fonts/HelveticaNeueMedium.woff') format('woff');
}

/* @font-face {
font-family: 'helv_n_700';
font-style: normal;
font-weight: normal;
src: local('Helvetica 85 Heavy'), url('fonts/HelveticaNeue-Heavy.woff') format('woff');
} */

@font-face {
    font-family: 'helv_n_700';
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'),
        url('fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
font-family: 'helv_n_800';
font-style: normal;
font-weight: normal;
src: local('Helvetica 85 Heavy'), url('fonts/HelveticaNeue-Heavy.woff') format('woff');
}

@font-face {
font-family: 'helv_n_900';
font-style: normal;
font-weight: normal;
src: local('Helvetica 95 Black'), url('fonts/HelveticaNeue-Black.woff') format('woff');
}






*,*:before, *:after{
    -webkit-box-sizing: border-box;
        box-sizing: border-box;

}
.clearfix:after, .container:after{
    content: '';
    display: block;
    clear:both;
}
body{
    font-family: 'helv_n_400', 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f2f3f7;
    @media screen and (min-width:768px) {
        
    }
    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
}
img{
    max-width: 100%;
    height: auto !important;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-family: 'helv_n_700';
    line-height: 1.6;
    margin-bottom: 8px;
    &:last-child{
        margin-bottom: 0;
    }

    @media screen and (min-width:768px) {
        line-height: 2;
        margin-bottom: 2px;
    }
    @media screen and (min-width:1200px) {
        line-height: 1.25;
        margin-bottom: 6px;
    }
}
h1,.h1{
    font-size: 20px;
    @media screen and (min-width:1200px) {
        font-size: 32px;
    }
}
h2,.h2{
    font-size: 18px;
    @media screen and (min-width:1200px) {
        font-size: 28px;
    }
}
h3,.h3{
    font-size: 18px;
    @media screen and (min-width:1200px) {
        font-size: 24px;
    }
}
h4,.h4{
    font-size: 16px;
    @media screen and (min-width:1200px) {
        font-size: 20px;
    }
}
h5,.h5{
    font-size: 16px;
    @media screen and (min-width:1200px) {
        font-size: 18px;
    }
}
a{
    text-decoration: none;
    color: #2b5cad;
}
small, .small{
    font-size: 70%;
}
i,.i,em,.em{font-style: italic;}
strong, .strong{font-weight: 700;}
sup, .sup{
    font-size: 70%;
    vertical-align: super;
    @media screen and (min-width:1200px){
        font-size: 50%;
    }
}
sub, .sub{
    font-size: 70%;
    vertical-align:sub;
    @media screen and (min-width:1200px){
        font-size: 50%;
    }
}



table{
    width: 100%;
    border: 1px solid rgba(151,151,151,0.50);
    background-color: #fff;
    border-radius: 2px;
    td,th{
        padding: 10px 10px;
        border: 1px solid rgba(151,151,151,0.50);
        vertical-align: middle;
        @media screen and (min-width:1200px) {
            padding: 11px 15px;
        }
    }
    th{
        background-color: #687C93;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;

        @media screen and (min-width:768px) {
            font-size: 14px;
        }
        @media screen and (min-width:1200px) {
            font-size: 18px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    tr{
        td{
            background-color: #fff;
        }
        &:nth-child(even){
            td{
                background-color: #f7f9fc;
            }
        }
    }
}
.responsive-table{
    overflow: auto; 
    table{
        -webkit-overflow-scrolling: touch;
    }
}

.field_group{
    margin-bottom: 24px;
    label{
        margin-bottom: 8px;
        display: block;
        font-family: 'helv_n_400';
        line-height: 1.7;
    }

}

.container{
    width: 100%;
    max-width: 1245px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}
.btn{
    cursor: pointer;
    background-color: #89949e;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 8px 25px;
    border:none;
    font-family: 'helv_n_500';
    min-width: 136px;
    border-radius: 4px;

    @media screen and (min-width:1200px){
        min-width: 150px;
    }

    &.btn-primary{
        background-color: #2B5CA0;
    }
    
}
.nowrap{
    white-space: nowrap;
}

.hide{
    display: none;
}
.show{
    display: block;
}
.mobile{
    @media screen and (min-width:768px){
        display: none;
    }
}
.tablet{
    display: none;
    @media screen and (min-width:768px){
        display: block;
    }
}
.desktop{
    display: none;
    @media screen and (min-width:1200px){
        display: block;
    }
}


/* ========= Site header ======== */
.header{
    text-align: center;
    .logo{
        padding: 16px 0 24px;
        @media screen and (min-width:768px){
            padding: 24px 0 34px;
        }
        @media screen and (min-width:1200px){
            padding: 27px 0 37px;
        }

        img{
            width: 120px;

            @media screen and (min-width:1200px){
                width: 170px;
            }
        }
    } // .logo
} // .header
/* ========= /Site header ======== */


.page_body{
    &.v1{
        .container{
            max-width: 950px;
        }
    }
    &.v2{
        .container{
            max-width: 950px;
        }
    }

}
/* ========= page body top [the blue section] ======== */
.plan_sec_top{
    background: #364B69;
    color: #fff;
    text-align: center;
    padding: 24px 0 124px;
    font-size: 16px;
    line-height: 1.5;
    @media screen and (min-width:1200px){
        padding: 48px 0 146px;
        font-size: 20px;
    }
    a{
        color: #fff;
    }
    h1,.h1{
        font-size: 24px;
        @media screen and (min-width:1200px){
            font-size: 32px;
        }
    }
    p{
        &+p{
            margin-top: 8px;
        }
    }
    small, .small{
        font-size: 12px;
        line-height: 16px;
        font-family: 'helv_n_300';
        display: inline-block;
        @media screen and (min-width:1200px){
            font-size: 14px;
            line-height: 20px;
        }
    }

    
} // .plan_sec_top

.tab_header{
    
    @media screen and (min-width:768px){
        margin-bottom: 16px;
    }
    
    @media screen and (max-width:767px){
        .sticky{
            background: #364B69;
            padding:1px 0;
            padding:0.1px 0;
            position: relative;
            -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
            
            &.stuck{
                position:fixed;
                top:0;
                left: 0;
                width:100%;
                opacity: 1;
                &.fade{
                    opacity: 0;
                }
            }
        }
    }

    

    .plan_lengths{
        text-align: center;
        margin-bottom: 28px;
        @media screen and (min-width:768px){
            margin-bottom: 22px;
        }
        @media screen and (min-width:1200px){
            margin-bottom: 17px;
        }
    }
    .plan_length{
        border-bottom:2px solid rgba(255, 255, 255, 0.3);
        display: inline-block;
        li{
            display: inline-block;
            border-bottom: 4px solid transparent;
            margin-bottom: -2px;
            text-transform: uppercase;
            font-family: 'helv_n_500';
            line-height: 40px;
            color: #fff;
            cursor: pointer;
            
            &+li{
                margin-left: 15px;

                @media screen and (min-width:1200px){
                    margin-left: 23px;
                }
            }
            &.active{
                border-bottom-color: #FBF857;
            }
        }
    }
}   // .tab_header

/* plan type  */
.plan_types{
    text-align: center;
    padding-top: 21px;
    margin-bottom: 8px;
    
    @media screen and (min-width:768px){
        margin-bottom: 4px;
    }
    @media screen and (min-width:1200px){
        margin-bottom: 6px;
    }
    ul{
        font-size: 0;
        border-radius: 40px;
        overflow: hidden;
        display: inline-block;
        li{
            display: inline-block;
            font-size: 12px;
            font-family: 'helv_n_700';
            background-color: #5F7088;
            color: #fff;
            padding: 13px 15px 12px;
            text-align: center;
            min-width: 134px;
            cursor: pointer;
            
            @media screen and (min-width:320px){
                min-width: 144px;
            }
            @media screen and (min-width:768px){
                font-size: 14px;
                padding: 11px 15px 12px;
                font-family: 'helv_n_500';
                min-width: 180px;
            }
            @media screen and (min-width:1200px){
                padding: 11px 15px 12px;
            }

            &.active{
                background-color: #6BA2E1;
            }
        }
    }
} // .plan_type

/* ========= /page body top [the blue section] ======== */

.plan_sec_bottom{
    margin-top: -90px;
    @media screen and (min-width:1200px){
        margin-top: -98.5px;
    }
    
    
}
.tab_body{
    @media screen and (min-width:768px){
        margin-bottom: 24px;
    }
    @media screen and (min-width:1200px){
        margin-bottom: 41px;
    }    
} // .tab_body


.price_table{
    border-radius: 4px;
    // overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    // background-color: #fff;
    a{text-decoration: underline;}
    .btn{text-decoration: none;}
    .btn[class*="subs_"]{display: none;}
    
    .table_title{
        background: #687C93;
        border-radius: 2px 2px 0 0;
        color: #fff;
        text-align: center;
        font-family: 'helv_n_700';
        font-size: 20px;
        line-height: 28px;
        padding: 16px 15px;
        @media screen and (min-width:1200px){
            font-size: 24px;
            line-height: 32px;
        }
        small{
            font-family: 'helv_n_300';
        }
    }
    .user_package{
        font-size: 14px;
        padding: 14px 0;
        
        @media screen and (min-width:768px){
            display: table;
            width: 100%;
        }
        @media screen and (min-width:1200px){
            padding: 24px 0;
        }
        &>div{
            padding:0 16px;
            @media screen and (min-width:768px){
                display: table-cell;
                vertical-align: middle;

                &:first-child{
                    width: 33%;
                }
            }
            @media screen and (min-width:1200px){
                padding: 0 25px;
            }
        }
        p{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    } // .user_package
    table{
        border:none;
        // background-color:rgba(255,255,255,0.3);

        td,th{
            border:none;
            text-align: center;
            font-family: 'helv_n_500';
            
            &:first-child{
                border-left:none;
                text-align: left;
                @media screen and (min-width:768px){
                    width: 33%;
                }
            }
            .yes{
                width:16PX;
                height:12px;
                line-height: 8px;
                display: inline-block;
                background: url('images/ic_plan_tick.png') no-repeat 50% 50%;
            }
            .no{
                width:16PX;
                height:13px;
                line-height: 8px;
                display: inline-block;
                background: url('images/ic_plan_tick-no.png') no-repeat 50% 50%;
            }
            .plan_price{
                font-size: 24px;
                font-family: 'helv_n_500';
                @media screen and (min-width:1200px){
                    font-size: 32px;
                }
    
                sup{
                    margin-right: 3px;
                    @media screen and (min-width:1200px){
                        margin-right: 2px;
                    }
                }
                sub{
                    margin-left: 3px;
                    vertical-align: text-bottom;
                    color: rgba(113,122,132,0.96);
                    font-family: 'helv_n_300';
                    @media screen and (min-width:1200px){
                        
                    }
                }
                .sell{
                    color: #2B5CA0;
                    line-height: 1.1;
                    @media screen and (min-width:1200px){
                        line-height: 1.2;
                        letter-spacing: -0.7px;
                    }
                }
                .save{
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.8px;
                    color: #EB0101;
                }
            }
        }
        
        th{
            line-height: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            @media screen and (min-width:1200px){
                padding-top: 13px;
                padding-bottom: 13px;
            }
        }
        td{
            font-size: 14px;
            // font-size: 12px;
            padding: 16px 16px;
            height: 92px;
            vertical-align: middle;
            @media screen and (min-width:1200px){
                padding: 24px 25px;
                height: 68px;
            }
            
        }
        
        
        .plan_name{
            font-size: 16px;
            font-family: 'helv_n_700';
            line-height: 24px;

           
        }
        .plan_prices{
            .ptype{
                min-height: 50px;
                margin:10px 0 6px;
                @media screen and (min-width:768px){
                    min-height:57px;
                }

                .plan_right &{
                    min-height:0;
                    // margin:0 0 6px;
                }
            }
        }
       
    } // table
} // .price_table


#table_zero, #table_one{
    table{
        @media screen and (max-width:767px){
            margin-left:250px;
        }
        @media screen and (max-width:480px){
            margin-left:136px;
        }
    }
    td,th{
        &:first-child{
            @media screen and (max-width:767px){
                position: absolute !important;
                left:15px;
                top:auto;
                z-index: 100;
                // background: #fff;
                width: 250px;
                // border-right:5px solid lightgray;
                -webkit-box-shadow: 2px 0 5px -3px #ccc;
                        box-shadow: 2px 0 5px -3px #ccc;
                &>span{
                    display: table-cell;
                    height: 60px;
                    vertical-align: middle;
                }
            }
            @media screen and (max-width:480px){
                width:136px;
            }

            
        }
    }
    tr.tr_price{
        td,th{
            vertical-align: top;
            &:first-child{
                vertical-align: middle;
                z-index: 101;
                @media screen and (max-width:767px){
                    height: 157px;
                    &>span{
                        height: 125px;
                    }
                }
                @media screen and (max-width:480px){
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }

        .bootstrap-select > .dropdown-toggle{
            white-space: normal;
            @media screen and (max-width:767px){
                min-width: 218px;
            }
            @media screen and (max-width:480px){
                min-width: 120px;
            }
            &:before{
                display: none;
            }
        }
        .bootstrap-select .dropdown-toggle .filter-option{
            position: relative;
            padding: 0;
        }
    }
    
} // table zero and one

#table_before_zero{
    display: none;
    position: fixed; 
    z-index: 104;
    left: 15px;
    top: 0;
    background-color: #fff;
    width:136px;
    padding: 14px 8px;
    @media screen  and (min-width:480px){
        width: 250px;
        padding: 14px 16px;
    }
    @media screen  and (min-width:768px){
        display: none !important;
    }

    &>span{
        display: table-cell;
        height: 129px;
        vertical-align: middle;
    }
    &.stuck{
        display: block;
        &.fade{
            opacity: 0;
            z-index: -1111;
        }
    }

    .bootstrap-select > .dropdown-toggle{
        white-space: normal;
        @media screen and (max-width:767px){
            min-width: 218px;
        }
        @media screen and (max-width:480px){
            min-width: 120px;
        }
        &:before{
            display: none;
        }
    }
    .bootstrap-select .dropdown-toggle .filter-option{
        position: relative;
        padding: 0;
    }
    
}  // #table_before_zero
#table_zero{
    display: none;
    position: fixed; 

    z-index: 103;
    width:100%; 
    width:calc(100% - 15px); 
    top:0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 5px 5px 0 #ccc;
            box-shadow: 0 5px 5px 0 #ccc;

    @media screen and (min-width:768px){
        display: none !important;
    }
    
    &.stuck{
        display: block;
        &.fade{
            opacity: 0;
            z-index: -1111;
        }
    }
    td{
        background-color: #fff;
    }
    td:first-child{
        position: fixed !important;
        z-index: 1;
        
       
    }
}
#table_one{
    tr:nth-child(2){
        td{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,f7f9fc+10,f7f9fc+100 */
        background: rgb(204,204,204); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(204,204,204,1)),color-stop(10%, rgba(247,249,252,1)),to(rgba(247,249,252,1)));
        background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(247,249,252,1) 10%,rgba(247,249,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f7f9fc',GradientType=0 ); /* IE6-9 */
        }
    }
    @media screen and (max-width:767px){
        margin-right:-15px;
    }
    @media screen and (min-width:768px){
        
    }
    
}
#table_two{
    @media screen and (min-width:768px) and (max-width:1199px){
        table{
            display: block;
            tbody{
                display: block;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: stretch;
                    -ms-flex-align: stretch;
                        align-items: stretch;
            }
            tr{
                display: block;
                float:left;
                width:60%;
                &.tr_price{
                    width: 40%;
                    td{
                        height: 281px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                    }
                }
            }
            td{
                display: block;
            }
        }
    }
}

.price_bottom-note{
    
    margin:32px auto 30px;
    color: #4a4a4a;
    font-family: "helv_n_500";
    font-size: 20px;
    line-height: 28px;
    @media screen and (min-width:1200px){
        margin-top: 0;
        font-size: 24px;
        line-height: 36px;
        max-width: none;
    }
} // .price_bottom-note


/* ======== .footer ========= */

/* footer */
footer{
    padding:124px 0 30px;
    background:url('images/footer.png') no-repeat left top;	
    background-size: cover; 
    color:#fff;
    @media (max-width:992px){
        background-image:url('images/footer2.png');
    }
    @media (max-width:767px){
        padding:50px 0;
    }

    a{color:#fff;}
    .left{
        float: left;
        @media (max-width:767px){
            float: none; text-align:center;
        }
    }
    .right{
        float: right;
        @media (max-width:767px){
            float: none; text-align:center;
        }
    }
    .footer_menu{
        font-size: 16px; 
        @media (max-width:768px){
            font-size: 14px;
        }

        li{
            @media (max-width:1023px){
                margin-right:40px;
            }
            @media (max-width:768px){
                margin-right:20px;
            }

            margin-right:60px; margin-bottom:10px; list-style:none; display:inline-block;
            a{
                display:block;
            }
        }
    }
    

    .apps_area{
        margin-top:30px;
        @media (max-width:768px){
            margin-top:15px;
        }
        a{
            margin-right:5px; 
            display:inline-block;
            @media (max-width:767px){
                max-width: 47%;
            }
        }
        img{
            width:170px;
        } 
    }
    
    .copyright{
        font-size:16px;
        font-family: 'helv_n_100';
        float: right;
        @media (max-width:767px){
            margin-top:25px;
            float:none;
            font-size:14px;
        }
    }

    .social{
        margin-top:52px;
        @media (max-width:767px){
            margin-top:25px;
        }
        li{
            display:inline-block; 
            width:60px; 
            height:60px;
            border-radius: 50%; 
            margin-left:15px; 
            margin-bottom:10px; 
            background-repeat:no-repeat; 
            background-position:center center;
            background-size: cover;

            @media (max-width:767px){
                width:33px; height:33px; margin:0 3px;
            }
            
            &.fb{background-image:url('images/ico_facebook.svg'); }
            &.tw{background-image:url('images/ico_twitter.svg'); }
            &.ig{background-image:url('images/ico_instagram.svg'); }
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
} // end footer ..


/* back to top */
#back_top{
    display:block; 
    width:60px; 
    height:60px; 
    position:fixed; 
    right:20px; 
    bottom:20px; 
    border-radius: 50%; 
    background:url('images/btn_scroll_up.png') no-repeat center center; 
    background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
     #back_top {
          background-image: url('images/btn_scroll_up@2x.png') repeat;
     }
}
@media (max-width:992px){
	#back_top{display:block; width:30px; height:30px;}
}


.bottom h1 a img, .bottom h1 img{
	max-width: 10% !important;
}

@media (max-width:992px) and (min-width:321px) {
	.bottom h1 a img{
		max-width: 20% !important;
	}
}

@media (max-width: 320px) {
	.bottom h1 a img {
	  max-width: 30% !important;
	}
}
/* ======== /.footer ========= */


/* ======== override plugin css ====== */

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 100%;}
.bootstrap-select > .dropdown-toggle, .bootstrap-select > .dropdown-toggle:active, .bootstrap-select > .dropdown-toggle:focus, .bootstrap-select > .dropdown-toggle:hover{
    color: #364B69;
    background-color:#fff;
    border: 1px solid #D7DCE1;
    padding: 10px 25px 10px 8px;
    font-family: 'helv_n_400';
    @media screen and (min-width:1200px){
        padding: 10px 16px;
    }
}
.bootstrap-select .dropdown-menu li a{
    color: #364B69;
    padding: 8px 8px;
    font-family: 'helv_n_400';
    @media screen and (min-width:1200px){
        padding: 10px 16px;
    }
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: #EFF1F3;
    color: #364B69;
    
}


/* ===== tooltip 3rd party plugin override =======  */
.jk_tooltip{color: #2B5CA0; text-decoration: underline;}
.jk_tooltip-top{@extend .jk_tooltip; }
.tooltip_templates { display: none; color:#fff;}
.tooltipster-content{padding: 10px 20px !important; font-size: 12px; line-height: 1.5;}
.tooltipster-content ul{padding:0 0 0 12px; margin:0 0 10px; list-style: disc;}
.tooltipster-content li{padding-left: 10px; margin-bottom: 5px;}
.tooltipster-content p{margin-bottom: 10px;}
.tooltipster-content p:last-child, .tooltipster-content ul:last-child{margin-bottom: 0;}
.tooltipster-content a{ color: #fff; text-decoration: underline;}
.tooltipster-content{
    h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6{
        font-family: "helv_n_400";
    }
    h1,.h1{font-size:1.8em ;}
    h2,.h2{font-size:1.6em ;}
    h3,.h3{font-size:1.4em;}
    h4,.h4{font-size:1.2em;}
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#364B69;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#364B69;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#364B69;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#364B69;}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#364B69}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#364B69}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#364B69}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#364B69}

/* This is how you would create a custom secondary theme on top of tooltipster-noir: */

.tooltipster-sidetip .tooltipster-box {
	background: #364B69;
	border: 0;
	border-radius: 3px;
}